<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test Suite">
    <!-- Register the CustomListener -->
    <listeners>
        <listener class-name="listeners.CustomListener" />
    </listeners>

    <test name="LoginTests">
        <classes>
            <class name="testcases.LoginTest" />
        </classes>
    </test>
</suite>
